<mat-sidenav-container>
  <mat-sidenav
    #sideNav
    class="side-nav-bg"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <div class="container">
      <app-profile-card></app-profile-card>
      <app-side-nav-menu [isHandSet]="(isHandset$ | async)"></app-side-nav-menu>
      <app-footer></app-footer>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-side-nav-toggle></app-side-nav-toggle>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
